a:visited { 
    text-decoration: none; 
    color: inherit; 
}

.badgeNumber {
    position: absolute;
    font-weight: 600;
    padding: 0.1rem 0.38rem;
    bottom: 1rem;
    left: 1.23rem;
    font-size: 0.9rem;
    border-radius: 50%; 
    background: #EF4444;
    color: #F9FAFB;
    box-shadow:0 0 1px #374151;
}


.navOuter {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: black;
    color: white;
}
  
.logoContainer {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    width: max-content;
}

.logoImage {
    max-height: 4rem;
}

.logoText {
    font-size: 1rem;
    font-weight: bold;
}

.iconBadge {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.bookmarkBadge {
    color: var(--color-text-1);
}

.navIcon {
    margin-top: 0.5rem;
    margin-right: 0.25rem;
    font-size: 1.5rem;
}

.modalOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalInner {
    background-color: var(--color-background-2);
    color: var(--color-text-1);
    margin: 0 1rem;
    padding: 1rem 2rem;
    max-width: 40rem;
}